body {
    background-image: url('../img/Wonderful-Pizza-Wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    min-height: 100%;
}

.wrapper-bg {
    background: #333333;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
}

.wrapper {
    text-align: center;
}

.wrapper.wrapper-lg {
    color: #FFFFFF;
    padding-top: 25%;
}

.wrapper.headline {
    font-size: 32pt;
    font-weight: bold;
}

.wrapper.wrapper-small {
    padding-top: 15%;
    z-index: 1;
    min-height: 100vh;
    overflow: hidden;
}

.wrapper.order-inner {
    background: #FFFFFF;
    margin-top: 15px;
    text-align: left;
}

.wrapper.order-inner.nav {
    padding: 15px;
}

.wrapper.order-inner.order {
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    height: 96.7vh;
    border: solid grey 1px;
}

.wrapper.order-inner.order-headline {
    margin: 0;
    padding-left: 15px;
    color: #0f0f0f;
    text-transform: uppercase;
    font-stretch: semi-condensed
}